# SPDX-License-Identifier: GPL-2.0

config SOC_K210_SYSCTL
	bool "Canaan Kendryte K210 SoC system controller"
	depends on RISCV && SOC_CANAAN_K210 && OF
	depends on COMMON_CLK_K210
	default SOC_CANAAN_K210
	select PM
	select MFD_SYSCON
	help
	  Canaan Kendryte K210 SoC system controller driver.

config SOC_K230_PM_DOMAINS
	bool "Canaan Kendryte K230 power domains controller"
	depends on RISCV && OF && ARCH_CANAAN
	select PM_GENERIC_DOMAINS if PM
	select CANAAN_HARDLOCK
	default ARCH_CANAAN
	help
	  This enables support for the Canaan Kendryte K230 SoC
	  power domains controller that is used for disabling and
	  enabling SoC devices including CPU1, KPU, display, VPU
	  and DPU.
