# SPDX-License-Identifier: GPL-2.0-only
config DRM_CANAAN
	bool "DRM Support for Canaan K230 Display Controller"
	depends on OF
	depends on COMMON_CLK
	select DRM
	select DRM_KMS_HELPER
	select DRM_KMS_DMA_HELPER
	select DRM_GEM_DMA_HELPER
	select VIDEOMODE_HELPERS
	default ARCH_CANAAN
	help
	  Choose this option if you have a Canaan K230 soc chipset.
	  This driver provides kernel mode setting and buffer
	  management to userspace. This driver does not provide
	  2D or 3D acceleration; acceleration is performed by other
	  IP found on the SoC.

if DRM_CANAAN

config DRM_CANAAN_DSI
	bool "Canaan K230 MIPI-DSI Controller Support"
	select DRM_MIPI_DSI
	default DRM_CANAAN
	help
	  Choose this option if you have a Canaan K230 soc chipset.
	  This driver provides MIPI-DSI controller for DRM.
	  This driver does not provide 2D or 3D acceleration;
	  acceleration is performed by other
	  IP found on the SoC.

endif
