// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 Jisheng Zhang <jszhang@kernel.org>
 */

#include "th1520-lichee-module-4a.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Sipeed Lichee Pi 4A";
	compatible = "sipeed,lichee-pi-4a", "sipeed,lichee-module-4a", "thead,th1520";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		gpio4 = &gpio4;
		gpio5 = &aogpio;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &audio_i2c0;
		i2c6 = &audio_i2c1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	fan: pwm-fan {
		pinctrl-names = "default";
		pinctrl-0 = <&fan_pins>;
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm 1 10000000 0>;
		cooling-levels = <0 66 196 255>;
	};

	hub_5v: regulator-hub_5v {
		compatible = "regulator-fixed";
		regulator-name = "HUB_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&ioexp3 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	vcc5v_usb: regulator-vcc5v_usb {
		compatible = "regulator-fixed";
		regulator-name = "VCC5V_USB";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 22 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	thermal-zones {
		cpu-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <1000>;
			thermal-sensors = <&pvt 0>;

			trips {
				trip_active0: active-0 {
					temperature = <39000>;
					hysteresis = <5000>;
					type = "active";
				};

				trip_active1: active-1 {
					temperature = <50000>;
					hysteresis = <5000>;
					type = "active";
				};

				trip_active2: active-2 {
					temperature = <60000>;
					hysteresis = <5000>;
					type = "active";
				};
			};

			cooling-maps {
				map-active-0 {
					cooling-device = <&fan 1 1>;
					trip = <&trip_active0>;
				};

				map-active-1 {
					cooling-device = <&fan 2 2>;
					trip = <&trip_active1>;
				};

				map-active-2 {
					cooling-device = <&fan 3 3>;
					trip = <&trip_active2>;
				};
			};
		};
	};
};

&aogpio {
	sel-usb-hub-hog {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_pins>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&gmac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_pins>;
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	status = "okay";

	ioexp1: gpio@18 {
		compatible = "nxp,pca9557";
		reg = <0x18>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "cam0_dvdd12",
				  "cam0_avdd28",
				  "cam0_dovdd18";
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	status = "okay";

	ioexp2: gpio@18 {
		compatible = "nxp,pca9557";
		reg = <0x18>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "",
				  "cam0_reset",
				  "cam1_reset",
				  "cam2_reset",
				  "wl_host_wake",
				  "bt_resetn",
				  "",
				  "bt_host_wake";
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	status = "okay";

	ioexp3: gpio@18 {
		compatible = "nxp,pca9557";
		reg = <0x18>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "tp0_rst",
				  "",
				  "",
				  "vcc5v_usb",
				  "vdd28_tp0",
				  "vdd33_lcd0",
				  "vdd18_lcd0",
				  "lcd0_reset";
	};
};

&mdio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mdio0_pins>;

	phy0: ethernet-phy@1 {
		reg = <1>;
	};

	phy1: ethernet-phy@2 {
		reg = <2>;
	};
};

&padctrl0_apsys {
	fan_pins: fan-0 {
		pwm1-pins {
			pins = "GPIO3_3"; /* PWM1 */
			function = "pwm";
			bias-disable;
			drive-strength = <25>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	gmac0_pins: gmac0-0 {
		tx-pins {
			pins = "GMAC0_TX_CLK",
			       "GMAC0_TXEN",
			       "GMAC0_TXD0",
			       "GMAC0_TXD1",
			       "GMAC0_TXD2",
			       "GMAC0_TXD3";
			function = "gmac0";
			bias-disable;
			drive-strength = <25>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "GMAC0_RX_CLK",
			       "GMAC0_RXDV",
			       "GMAC0_RXD0",
			       "GMAC0_RXD1",
			       "GMAC0_RXD2",
			       "GMAC0_RXD3";
			function = "gmac0";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	gmac1_pins: gmac1-0 {
		tx-pins {
			pins = "GPIO2_18", /* GMAC1_TX_CLK */
			       "GPIO2_20", /* GMAC1_TXEN */
			       "GPIO2_21", /* GMAC1_TXD0 */
			       "GPIO2_22", /* GMAC1_TXD1 */
			       "GPIO2_23", /* GMAC1_TXD2 */
			       "GPIO2_24"; /* GMAC1_TXD3 */
			function = "gmac1";
			bias-disable;
			drive-strength = <25>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "GPIO2_19", /* GMAC1_RX_CLK */
			       "GPIO2_25", /* GMAC1_RXDV */
			       "GPIO2_30", /* GMAC1_RXD0 */
			       "GPIO2_31", /* GMAC1_RXD1 */
			       "GPIO3_0",  /* GMAC1_RXD2 */
			       "GPIO3_1";  /* GMAC1_RXD3 */
			function = "gmac1";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	i2c3_pins: i2c3-0 {
		i2c-pins {
			pins = "I2C3_SCL", "I2C3_SDA";
			function = "i2c";
			bias-disable;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	mdio0_pins: mdio0-0 {
		mdc-pins {
			pins = "GMAC0_MDC";
			function = "gmac0";
			bias-disable;
			drive-strength = <13>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		mdio-pins {
			pins = "GMAC0_MDIO";
			function = "gmac0";
			bias-disable;
			drive-strength = <13>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	uart0_pins: uart0-0 {
		tx-pins {
			pins = "UART0_TXD";
			function = "uart";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "UART0_RXD";
			function = "uart";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};

&padctrl1_apsys {
	i2c0_pins: i2c0-0 {
		i2c-pins {
			pins = "I2C0_SCL", "I2C0_SDA";
			function = "i2c";
			bias-disable;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	i2c1_pins: i2c1-0 {
		i2c-pins {
			pins = "I2C1_SCL", "I2C1_SDA";
			function = "i2c";
			bias-disable;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&usb {
	status = "okay";
};

&usb_dwc3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	hub_2_0: hub@1 {
		compatible = "usb2109,2817";
		reg = <1>;
		peer-hub = <&hub_3_0>;
		vdd-supply = <&hub_5v>;
		vbus-supply = <&vcc5v_usb>;
	};

	hub_3_0: hub@2 {
		compatible = "usb2109,817";
		reg = <2>;
		peer-hub = <&hub_2_0>;
		vbus-supply = <&vcc5v_usb>;
	};
};

&adc {
	status = "okay";
};
