// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 Alibaba Group Holding Limited.
 * Copyright (C) 2024 Milk-V Limited.
 */

/dts-v1/;

#include "th1520.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Milk-V Meles";
	compatible = "milkv,meles", "thead,th1520";

	aliases {
		ethernet0 = &gmac0;
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		gpio4 = &gpio4;
		gpio5 = &aogpio;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x2 0x00000000>;
	};

	resmem: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		//Note: with "no-map" reserv mem not saved in hibernation
		rpmsgmem: memory@1E000000 {
			reg = <0x0 0x1E000000 0x0 0x10000>;
		};
	};

	light_rpmsg: light_rpmsg {
		compatible = "light,rpmsg-bus", "simple-bus";
		memory-region = <&rpmsgmem>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		rpmsg: rpmsg {
			vdev-nums = <1>;
			reg = <0x0 0x1E000000 0 0x10000>;
			compatible = "light,light-rpmsg";
			status = "okay";
		};
	};

	aon: aon {
		compatible = "thead,light-aon";
		mbox-names = "aon";
		mboxes = <&mbox_910t 1 0>;
		status = "okay";

		pd: light-aon-pd {
			compatible = "thead,light-aon-pd";
			#power-domain-cells = <1>;
		};

		aon_reg_dialog: light-dialog-reg {
			compatible = "thead,light-dialog-pmic-ant";
			status = "okay";

			dvdd_cpu_reg: appcpu_dvdd {
				regulator-name = "appcpu_dvdd";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1570000>;
				regulator-boot-on;
				regulator-always-on;
			};

			dvddm_cpu_reg: appcpu_dvddm {
				regulator-name = "appcpu_dvddm";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1570000>;
				regulator-boot-on;
				regulator-always-on;
			};

			soc_dvdd18_aon_reg: soc_dvdd18_aon {
				regulator-name = "soc_dvdd18_aon";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_avdd33_usb3_reg: soc_avdd33_usb3 {
				regulator-name = "soc_avdd33_usb3";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_dvdd08_aon_reg: soc_dvdd08_aon {
				regulator-name = "soc_dvdd08_aon";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_dvdd08_ddr_reg: soc_dvdd08_ddr {
				regulator-name = "soc_dvdd08_ddr";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_vdd_ddr_1v8_reg: soc_vdd_ddr_1v8 {
				regulator-name = "soc_vdd_ddr_1v8";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_vdd_ddr_1v1_reg: soc_vdd_ddr_1v1 {
				regulator-name = "soc_vdd_ddr_1v1";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_vdd_ddr_0v6_reg: soc_vdd_ddr_0v6 {
				regulator-name = "soc_vdd_ddr_0v6";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_dvdd18_ap_reg: soc_dvdd18_ap {
				regulator-name = "soc_dvdd18_ap";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_avdd08_mipi_hdmi_reg: soc_avdd08_mipi_hdmi {
				regulator-name = "soc_avdd08_mipi_hdmi";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_avdd18_mipi_hdmi_reg: soc_avdd18_mipi_hdmi {
				regulator-name = "soc_avdd18_mipi_hdmi";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_vdd33_emmc_reg: soc_vdd33_emmc {
				regulator-name = "soc_vdd33_emmc";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_vdd18_emmc_reg: soc_vdd18_emmc {
				regulator-name = "soc_vdd18_emmc";
				regulator-boot-on;
				regulator-always-on;
			};

			soc_dovdd18_scan_reg: soc_dovdd18_scan {
				regulator-name = "soc_dovdd18_scan";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
			};

			soc_dvdd12_scan_reg: soc_dvdd12_scan {
				regulator-name = "soc_dvdd12_scan";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
			};

			soc_avdd28_scan_en_reg: soc_avdd28_scan_en {
				regulator-name = "soc_avdd28_scan_en";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
			};
		};

		c910_cpufreq {
			compatible = "thead,light-mpw-cpufreq";
			status = "okay";
		};

		test: light-aon-test {
			compatible = "thead,light-aon-test";
		};
	};
};

&osc_24m {
	clock-frequency = <24000000>;
};

&osc_32k {
	clock-frequency = <32768>;
};

&aonsys_clk {
	clock-frequency = <73728000>;
};

&apb_clk {
	clock-frequency = <62500000>;
};

&sdhci_clk {
	clock-frequency = <198000000>;
};

&uart_sclk {
	clock-frequency = <100000000>;
};

&gmac_clk {
	clock-frequency = <500000000>;
};

&gmac_axi_clk {
	clock-frequency = <100000000>;
};

&dmac0 {
	status = "okay";
};

&emmc {
	bus-width = <8>;
	max-frequency = <198000000>;
	mmc-hs400-1_8v;
	non-removable;
	no-sdio;
	no-sd;
	status = "okay";
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_pins>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&mdio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mdio0_pins>;

	phy0: ethernet-phy@1 {
		reg = <1>;
	};
};

&sdio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_pins>;
	bus-width = <4>;
	max-frequency = <198000000>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&cpus {
	c910_0: cpu@0 {
		operating-points = <
			/* kHz    uV */
			300000	650000
			800000	700000
			1500000	800000
			1848000 1000000
		>;
		light,dvddm-operating-points = <
			/* kHz   uV */
			300000	800000
			800000	800000
			1500000	800000
			1848000 1000000
		>;
		dvdd-supply = <&dvdd_cpu_reg>;
		dvddm-supply = <&dvddm_cpu_reg>;
	};

	c910_1: cpu@1 {
		operating-points = <
			/* kHz    uV */
			300000	650000
			800000	700000
			1500000	800000
			1848000 1000000
		>;
		light,dvddm-operating-points = <
			/* kHz   uV */
			300000	800000
			800000	800000
			1500000	800000
			1848000 1000000
		>;
		dvdd-supply = <&dvdd_cpu_reg>;
		dvddm-supply = <&dvddm_cpu_reg>;
	};

	c910_2: cpu@2 {
		operating-points = <
			/* kHz    uV */
			300000	650000
			800000	700000
			1500000	800000
			1848000 1000000
		>;
		light,dvddm-operating-points = <
			/* kHz   uV */
			300000	800000
			800000	800000
			1500000	800000
			1848000 1000000
		>;
		dvdd-supply = <&dvdd_cpu_reg>;
		dvddm-supply = <&dvddm_cpu_reg>;
	};

	c910_3: cpu@3 {
		operating-points = <
			/* kHz    uV */
			300000	650000
			800000	700000
			1500000	800000
			1848000 1000000
		>;
		light,dvddm-operating-points = <
			/* kHz   uV */
			300000	800000
			800000	800000
			1500000	800000
			1848000 1000000
		>;
		dvdd-supply = <&dvdd_cpu_reg>;
		dvddm-supply = <&dvddm_cpu_reg>;
	};
};

&padctrl0_apsys {
	gmac0_pins: gmac0-0 {
		tx-pins {
			pins = "GMAC0_TX_CLK",
			       "GMAC0_TXEN",
			       "GMAC0_TXD0",
			       "GMAC0_TXD1",
			       "GMAC0_TXD2",
			       "GMAC0_TXD3";
			function = "gmac0";
			bias-disable;
			drive-strength = <25>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "GMAC0_RX_CLK",
			       "GMAC0_RXDV",
			       "GMAC0_RXD0",
			       "GMAC0_RXD1",
			       "GMAC0_RXD2",
			       "GMAC0_RXD3";
			function = "gmac0";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	mdio0_pins: mdio0-0 {
		mdc-pins {
			pins = "GMAC0_MDC";
			function = "gmac0";
			bias-disable;
			drive-strength = <13>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		mdio-pins {
			pins = "GMAC0_MDIO";
			function = "gmac0";
			bias-disable;
			drive-strength = <13>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	sdio0_pins: sdio0-0 {
		detn-pins {
			pins = "SDIO0_DETN";
			function = "sdio";
			bias-disable; /* external pull-up */
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	uart0_pins: uart0-0 {
		tx-pins {
			pins = "UART0_TXD";
			function = "uart";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "UART0_RXD";
			function = "uart";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};
