# SPDX-License-Identifier: GPL-2.0

config THEAD_CLK
	bool
	def_bool ARCH_XUANTIE

config CLK_TH1520_FM
	bool "XuanTie Th1520 Fullmask Clock Driver"
	depends on ARCH_XUANTIE
	default n
	help
	    Build the driver for th1520 fullmask Clock Driver
