// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include "k230.dtsi"

/ {
	model = "Canaan CanMV-K230";
	compatible = "canaan,canmv-k230", "canaan,kendryte-k230";

	aliases {
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ddr: memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x40000000>;
	};
};

&uart0 {
	status = "okay";
};
&uart3 {
	status = "okay";
};
&mmc_sd0{
	status = "okay";
	no-1-8-v;
	cap-sd-highspeed;
	rx_delay_line = <0x0d>;
	tx_delay_line = <0xb0>;
	clocks = <&sd0_cclk_gate>,<&sd0_cclk_gate>;
	clock-names = "core", "bus";
};
&mmc_sd1{
	status = "okay";
	no-1-8-v;
	cap-sd-highspeed;
	mshc_ctrl_r = <0x00>;
};
&usb0 {
	status = "okay";
};
&usb1 {
	dr_mode = "host";
	status = "okay";
};

&i2c3 {
	status = "okay";

	lt9611: hdmi-bridge@3b {
		compatible = "lontium,lt9611";
		reg = <0x3b>;
		reset-gpios = <&gpio0_ports 22 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&gpio0_ports>;
		interrupts = <23 IRQ_TYPE_EDGE_FALLING>;
		ports {
			#address-cells  = <1>;
			#size-cells     = <0>;
			port@1 {
				reg = <1>;
				lt9611_in: endpoint {
					remote-endpoint = <&dsi_out_lt9611>;
				};
			};

			port@2 {
				reg = <2>;
				lt9611_out: endpoint {
					remote-endpoint = <&hdmi_connector_in>;
				};
			};
		};
	};
};

&dsi {
	ports {
		port@1 {
			reg = <1>;
			dsi_out_lt9611: endpoint {
				remote-endpoint = <&lt9611_in>;
			};
		};
	};
};

/ {
	hdmi: connector {
		compatible = "hdmi-connector";
		label = "hdmi";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&lt9611_out>;
			};
		};
	};
};

&vo {
	vth_line = <10>;
};
