// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/soc/canaan,k230_pm_domains.h>
#include <dt-bindings/reset/canaan-k230-reset.h>
#include <dt-bindings/gpio/gpio.h>

/dts-v1/;
/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "canaan,kendryte-k230";

	aliases {
		serial0 = &uart0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <27000000>;

		cpu@0 {
			compatible = "thead,c908", "riscv";
			device_type = "cpu";
			reg = <0>;
			riscv,isa = "rv64imafdcv_zba_zbb_zbc_zbs_zicbom_zicbop_zicboz_svpbmt";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "zba", "zbb",
					       "zbc", "zbs", "zicbom", "zicbop", "zicboz",
					       "zicntr", "zicsr", "zifencei", "zihpm", "svpbmt";
			riscv,cbom-block-size = <64>;
			riscv,cbop-block-size = <64>;
			riscv,cboz-block-size = <64>;
			d-cache-block-size = <64>;
			d-cache-sets = <128>;
			d-cache-size = <32768>;
			i-cache-block-size = <64>;
			i-cache-sets = <128>;
			i-cache-size = <32768>;
			next-level-cache = <&l2_cache>;
			mmu-type = "riscv,sv39";

			cpu0_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};

		l2_cache: l2-cache {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-size = <262144>;
			cache-sets = <256>;
			cache-unified;
		};
	};

	apb_clk: apb-clk-clock {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		clock-output-names = "apb_clk";
		#clock-cells = <0>;
	};
	dummy_sd:apb-sdclock {
		compatible = "fixed-clock";
		clock-frequency = <100000000>;
		clock-output-names = "dummy_sd";
		#clock-cells = <0x00>;
	};

	clk_dummy: clock-dummy {
		compatible = "fixed-clock";
		clock-frequency = <0>;
		clock-output-names = "clk_dummy";
		#clock-cells = <0>;
	};

	soc {
		compatible = "simple-bus";
		interrupt-parent = <&plic>;
		#address-cells = <2>;
		#size-cells = <2>;
		dma-noncoherent;
		ranges;

		plic: interrupt-controller@f00000000 {
			compatible = "canaan,k230-plic" ,"thead,c900-plic";
			reg = <0xf 0x00000000 0x0 0x04000000>;
			interrupts-extended = <&cpu0_intc 11>, <&cpu0_intc 9>;
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <2>;
			riscv,ndev = <208>;
		};

		sysctl: sysctl {
			status					= "okay";
			#address-cells			= <2>;
			#size-cells				= <2>;
			compatible				= "simple-bus";
			ranges;

			sysctl_clock: sysctl_clock@91100000 {
				status              = "okay";
				compatible			= "simple-bus";
				reg                 = <0x0 0x91100000 0x0 0x1000>;
			};
			sysctl_reset: sysctl_reset@91101000 {
				status              = "okay";
				reg                 = <0x0 0x91101000 0x0 0x1000>;
				compatible      = "canaan,k230-sysctl-reset";
				#reset-cells    = <4>;
				/* indicate consumer resets have 5 parameters.
				 * phandle+offset+type+done+assert
				 */
			};
			sysctl_boot: sysctl_boot@91102000 {
				status              = "okay";
				compatible			= "simple-bus";
				reg                 = <0x0 0x91102000 0x0 0x1000>;
			};
			sysctl_power: sysctl_power@91103000 {
				status              = "okay";
				reg                 = <0x0 0x91103000 0x0 0x1000>;
				compatible          = "canaan, k230-sysctl-power";
				hardlock            = <3>, <4>, <5>;
				#power-domain-cells = <1>;  /* more than 1 power provider */
			};
		};

		clint: timer@f04000000 {
			compatible = "canaan,k230-clint", "thead,c900-clint";
			reg = <0xf 0x04000000 0x0 0x00010000>;
			interrupts-extended = <&cpu0_intc 3>, <&cpu0_intc 7>;
		};

		uart0: serial@91400000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x91400000 0x0 0x1000>;
			clocks = <&apb_clk>;
			interrupts = <16 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart1: serial@91401000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x91401000 0x0 0x1000>;
			clocks = <&apb_clk>;
			interrupts = <17 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart2: serial@91402000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x91402000 0x0 0x1000>;
			clocks = <&apb_clk>;
			interrupts = <18 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart3: serial@91403000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x91403000 0x0 0x1000>;
			clocks = <&apb_clk>;
			interrupts = <19 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart4: serial@91404000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x91404000 0x0 0x1000>;
			clocks = <&apb_clk>;
			interrupts = <20 IRQ_TYPE_LEVEL_HIGH>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		usb0: usb@91500000 {
			compatible = "canaan,k230-otg", "snps,dwc2";
			reg = <0x0 0x91500000 0x0 0x40000>;
			interrupts = <173 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clk_dummy>;
			clock-names = "otg";
			g-rx-fifo-size = <512>;
			g-np-tx-fifo-size = <64>;
			g-tx-fifo-size = <512 1024 64 64 64 64>;
			status = "disabled";
		};

		usb1: usb@91540000 {
			compatible = "canaan,k230-otg", "snps,dwc2";
			reg = <0x0 0x91540000 0x0 0x40000>;
			interrupts = <174 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clk_dummy>;
			clock-names = "otg";
			g-rx-fifo-size = <512>;
			g-np-tx-fifo-size = <64>;
			g-tx-fifo-size = <512 1024 64 64 64 64>;
			status = "disabled";
		};

		mmc_sd1: sdhci1@91581000 {
			compatible = "kendryte,k230-dw-mshc";
			reg = <0x0 0x91581000 0x0 0x1000>;
			interrupts = <144 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "sdhci1irq";
			clocks = <&dummy_sd>,<&dummy_sd>;
			clock-names = "core", "bus";
			max-frequency = <50000000>;
			bus-width = <4>;
			sdhci,auto-cmd12;
			dma-noncoherent;
			//status = "disabled";/*disabled, okay*/
			status = "disabled";
		};

		gpio0: gpio@9140b000 {
			compatible = "canaan,k230-apb-gpio";
			reg = <0x0 0x9140b000 0x0 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;

			gpio0_ports: gpio-port@0 {
				compatible = "canaan,k230-apb-gpio-port";
				reg = <0>;
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts =
					<32 IRQ_TYPE_EDGE_RISING>,
					<33 IRQ_TYPE_EDGE_RISING>,
					<34 IRQ_TYPE_EDGE_RISING>,
					<35 IRQ_TYPE_EDGE_RISING>,
					<36 IRQ_TYPE_EDGE_RISING>,
					<37 IRQ_TYPE_EDGE_RISING>,
					<38 IRQ_TYPE_EDGE_RISING>,
					<39 IRQ_TYPE_EDGE_RISING>,
					<40 IRQ_TYPE_EDGE_RISING>,
					<41 IRQ_TYPE_EDGE_RISING>,
					<42 IRQ_TYPE_EDGE_RISING>,
					<43 IRQ_TYPE_EDGE_RISING>,
					<44 IRQ_TYPE_EDGE_RISING>,
					<45 IRQ_TYPE_EDGE_RISING>,
					<46 IRQ_TYPE_EDGE_RISING>,
					<47 IRQ_TYPE_EDGE_RISING>,
					<48 IRQ_TYPE_EDGE_RISING>,
					<49 IRQ_TYPE_EDGE_RISING>,
					<50 IRQ_TYPE_EDGE_RISING>,
					<51 IRQ_TYPE_EDGE_RISING>,
					<52 IRQ_TYPE_EDGE_RISING>,
					<53 IRQ_TYPE_EDGE_RISING>,
					<54 IRQ_TYPE_EDGE_RISING>,
					<55 IRQ_TYPE_EDGE_RISING>,
					<56 IRQ_TYPE_EDGE_RISING>,
					<57 IRQ_TYPE_EDGE_RISING>,
					<58 IRQ_TYPE_EDGE_RISING>,
					<59 IRQ_TYPE_EDGE_RISING>,
					<60 IRQ_TYPE_EDGE_RISING>,
					<61 IRQ_TYPE_EDGE_RISING>,
					<62 IRQ_TYPE_EDGE_RISING>,
					<63 IRQ_TYPE_EDGE_RISING>;
			};
		};

		gpio1: gpio@9140c000 {
			compatible = "canaan,k230-apb-gpio";
			reg = <0x0 0x9140c000 0x0 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;

			gpio1_ports: gpio-port@0 {
				compatible = "canaan,k230-apb-gpio-port";
				reg = <0>;
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts =
					<64 IRQ_TYPE_EDGE_RISING>,
					<65 IRQ_TYPE_EDGE_RISING>,
					<66 IRQ_TYPE_EDGE_RISING>,
					<67 IRQ_TYPE_EDGE_RISING>,
					<68 IRQ_TYPE_EDGE_RISING>,
					<69 IRQ_TYPE_EDGE_RISING>,
					<70 IRQ_TYPE_EDGE_RISING>,
					<71 IRQ_TYPE_EDGE_RISING>,
					<72 IRQ_TYPE_EDGE_RISING>,
					<73 IRQ_TYPE_EDGE_RISING>,
					<74 IRQ_TYPE_EDGE_RISING>,
					<75 IRQ_TYPE_EDGE_RISING>,
					<76 IRQ_TYPE_EDGE_RISING>,
					<77 IRQ_TYPE_EDGE_RISING>,
					<78 IRQ_TYPE_EDGE_RISING>,
					<79 IRQ_TYPE_EDGE_RISING>,
					<80 IRQ_TYPE_EDGE_RISING>,
					<81 IRQ_TYPE_EDGE_RISING>,
					<82 IRQ_TYPE_EDGE_RISING>,
					<83 IRQ_TYPE_EDGE_RISING>,
					<84 IRQ_TYPE_EDGE_RISING>,
					<85 IRQ_TYPE_EDGE_RISING>,
					<86 IRQ_TYPE_EDGE_RISING>,
					<87 IRQ_TYPE_EDGE_RISING>,
					<88 IRQ_TYPE_EDGE_RISING>,
					<89 IRQ_TYPE_EDGE_RISING>,
					<90 IRQ_TYPE_EDGE_RISING>,
					<91 IRQ_TYPE_EDGE_RISING>,
					<92 IRQ_TYPE_EDGE_RISING>,
					<93 IRQ_TYPE_EDGE_RISING>,
					<94 IRQ_TYPE_EDGE_RISING>,
					<95 IRQ_TYPE_EDGE_RISING>;
			};
		};

		i2c0: i2c@91405000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			reg = <0x0 0x91405000 0x0 0x1000>;
			interrupts = <21 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&i2c0_clk>;
			clock-frequency = <100000>;
			status = "disabled";
		};

		i2c1: i2c@91406000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			reg = <0x0 0x91406000 0x0 0x1000>;
			interrupts = <22 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&i2c1_clk>;
			clock-frequency = <400000>;
			status = "disabled";
		};

		i2c2: i2c@91407000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			reg = <0x0 0x91407000 0x0 0x1000>;
			interrupts = <23 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&i2c2_clk>;
			clock-frequency = <400000>;
			status = "disabled";
		};

		i2c3: i2c@91408000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			reg = <0x0 0x91408000 0x0 0x1000>;
			interrupts = <24 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&i2c3_clk>;
			clock-frequency = <400000>;
			status = "disabled";
		};

		i2c4: i2c@91409000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			reg = <0x0 0x91409000 0x0 0x1000>;
			interrupts = <25 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&i2c4_clk>;
			clock-frequency = <400000>;
			status = "disabled";
		};

		gpu: gpu@90800000 {
			compatible = "verisilicon,gc8000ul";
			reg = <0x0 0x90800000 0x0 0x1000>;
			interrupts = <135 IRQ_TYPE_LEVEL_HIGH>;
			power-domains = <&sysctl_power K230_PM_DOMAIN_DISP>;
			resets = <
				&sysctl_reset
				K230_RESET_V2P5D_REG_OFFSET
				K230_RESET_V2P5D_TYPE
				K230_RESET_V2P5D_DONE_BIT
				K230_RESET_V2P5D_ASSERT_BIT
			>;
			reset-names = "vglite";
			clocks = <&disp_gpu>;
			clock-names = "vglite";
			status = "okay";
		};

		display: display-subsystem {
			compatible = "canaan,display-subsystem";
			ports = <&vo_out>;
			status = "okay";
			power-domains = <&sysctl_power K230_PM_DOMAIN_DISP>;
		};

		vo: vo@90840000 {
			compatible = "canaan,k230-vo";
			reg = <0x0 0x90840000 0x0 0x10000>;
			interrupts = <133 IRQ_TYPE_LEVEL_HIGH>;
			status = "okay";

			background = <0xffffff>;
			vth_line = <11>;

			vo_out: port {
				#address-cells = <1>;
				#size-cells = <0>;
			};
		};

		dsi: dsi@90850000 {
			compatible = "canaan,k230-mipi-dsi";
			reg = <0x0 0x90850000 0x0 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			panel@0 {
				compatible = "canaan,universal";
				reg = <0>;
				panel-width-mm = <1080>;
				panel-height-mm = <1920>;
				panel-dsi-lane = <4>;
				dsi_reset-gpios = <&gpio0_ports 9 GPIO_ACTIVE_HIGH>;
				backlight_gpio-gpios = <&gpio0_ports 31 GPIO_ACTIVE_HIGH>;

				panel-init-sequence = [
					39 00 04 B9 FF 83 99
					39 00 02 D2 AA
					39 00 10 B1 02 04 71 91 01 32 33 11 11 ab 4d 56 73 02 02
					39 00 10 B2 00 80 80 ae 05 07 5a 11 00 00 10 1e 70 03 d4
					39 00 2d B4 00 FF 02 C0 02 c0 00 00 08 00 04 06 00 32 04 0a
					08 21 03 01
					00 0f b8 8b 02 c0 02 c0 00 00 08 00 04 06 00 32 04 0a 08 01
					00 0f b8 01
					39 00 22 D3 00 00 00 00 00 00 06 00 00 10 04 00 04 00 00 00
					00 00 00 00 00 00 00 01 00 05 05 07 00 00 00 05 40
					39 00 21 D5 18 18 19 19 18 18 21 20 01 00 07 06 05 04 03 02
					18 18 18 18 18 18 2f 2f 30 30 31 31 18 18 18 18
					39 00 21 D6 18 18 19 19 40 40 20 21 02 03 04 05 06 07 00 01
					40 40 40 40 40 40 2f 2f 30 30 31 31 40 40 40 40
					39 00 11 D8 a2 aa 02 a0 a2 a8 02 a0 b0 00 00 00 b0 00 00 00
					39 00 02 BD 01
					39 00 11 D8 B0 00 00 00 B0 00 00 00 E2 AA 03 F0 E2 AA 03 F0
					39 00 02 BD 02
					39 00 09 D8 E2 AA 03 F0 E2 AA 03 F0
					39 00 02 BD 00
					39 00 03 B6 8D 8D
					39 00 02 CC 04
					39 00 03 C6 FF F9
					39 00 37 E0 00 12 1f 1a 40 4a 59 55 5e 67 6f 75 7a 82 8b 90
					95 9f a3 ad a2 b2 B6 5e 5a 65 77 00 12 1f 1a 40 4a 59 55 5e
					67 6f 75 7a 82 8b 90 95
					9f a3 ad a2 b2 B6 5e 5a 65 77
					39 ff 01 11
					39 ff 01 29
				];

				display-timings {
					timing-0 {
						clock-frequency = <74250000>;
						hactive = <1080>;
						vactive = <1920>;
						hfront-porch = <40>;
						hback-porch = <20>;
						hsync-len = <20>;
						vfront-porch = <206>;
						vback-porch = <8>;
						vsync-len = <5>;
					};
				};
			};
		};
	};
};
#include "k230_clock_provider.dtsi"
