## common
CONFIG_KUNIT=y
CONFIG_SAMPLES=y
## uprobe
CONFIG_UPROBES=y
CONFIG_UPROBE_EVENTS=y
## kprobe
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_KRETPROBES=y
CONFIG_FUNCTION_ERROR_INJECTION=y
CONFIG_BPF_KPROBE_OVERRIDE=y
## ebpf
CONFIG_BPF_JIT=y
CONFIG_BPF_SYSCALL=y
CONFIG_IKHEADERS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_MODULE_ALLOW_BTF_MISMATCH=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_TEST_BPF=m
## ftrace
CONFIG_FTRACE=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_GENERIC_TRACER=y
CONFIG_FUNCTION_TRACER=y
CONFIG_FUNCTION_GRAPH_TRACER=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_DYNAMIC_FTRACE_WITH_ARGS=y
CONFIG_STACK_TRACER=y
CONFIG_SCHED_TRACER=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_FTRACE_MCOUNT_RECORD=y
CONFIG_FTRACE_MCOUNT_USE_RECORDMCOUNT=y
CONFIG_FTRACE_SELFTEST=y
## dynamic_debug
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DYNAMIC_DEBUG_CORE=y
## ISA feature
CONFIG_TEST_BITOPS=m
CONFIG_STRING_SELFTEST=m
CONFIG_TEST_STRING_HELPERS=m
CONFIG_TEST_BITMAP=m
CONFIG_CRYPTO_TEST=m
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=n
CONFIG_CRYPTO_MANAGER_EXTRA_TESTS=n
## benchmark
CONFIG_TEST_DHRY=y
CONFIG_RBTREE_TEST=m
CONFIG_INTERVAL_TREE_TEST=m
CONFIG_TEST_MAPLE_TREE=m
CONFIG_LIST_KUNIT_TEST=m
CONFIG_HASH_KUNIT_TEST=m
CONFIG_HASHTABLE_KUNIT_TEST=m
CONFIG_TEST_RHASHTABLE=m
CONFIG_ATOMIC64_SELFTEST=m
CONFIG_WW_MUTEX_SELFTEST=m
CONFIG_RCU_SCALE_TEST=m
CONFIG_RCU_REF_SCALE_TEST=m
# kselftest
CONFIG_SCHED_DEBUG=y
CONFIG_ZSWAP_DEFAULT_ON=y
CONFIG_SYSVIPC=y
CONFIG_USERFAULTFD=y
CONFIG_TEST_VMALLOC=m
CONFIG_DEVICE_PRIVATE=y
CONFIG_TEST_HMM=m
CONFIG_GUP_TEST=y
CONFIG_MEM_SOFT_DIRTY=y
CONFIG_IOMMUFD_TEST=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAILSLAB=y
## sched
CONFIG_SCHEDSTATS=y
CONFIG_SCHED_DEBUG=y
## kdump
CONFIG_KEXEC=y
CONFIG_CRASH_DUMP=y
CONFIG_MAGIC_SYSRQ=y
## livepatch
CONFIG_UNWINDER_ORC=y
CONFIG_LIVEPATCH=y
CONFIG_TEST_LIVEPATCH=m
CONFIG_SAMPLE_LIVEPATCH=m
## hw_breakpoint
CONFIG_SAMPLE_HW_BREAKPOINT=m
## qos test
CONFIG_SAMPLE_RISCV_QOS=m
## ipi_benchmark
CONFIG_SAMPLE_IPI_BENCHMARK=m
## debug
CONFIG_DEBUG_TIMEKEEPING=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_PLIST=y
CONFIG_DEBUG_SG=y
CONFIG_GENERIC_IRQ_DEBUGFS=y

