config K230_GNNE_DRIVER
		tristate "K230 GNNE driver"
		default m
		help
		This option enables support for K230
		Say Y for enabling the k230 gnne driver
		To compile this support as a module, choose M here
		If unsure, say N.